<h1>Thanks for Logging out of IEOR 4998 Survey Tool</h1>
<p>Find me in app/views/welcome/goodbye.html.erb</p>
<p> The current time is <%= @time %> </p>
<p> <%= link_to "Log In", welcome_hello_path %> </p>

