<h1>Welcome to IEOR 4998 Survey Tool</h1>
<p> It is now <%= @time %> </p>
<p><%= link_to "Survey Participants Click Here", participants_path %>
</p>
<p> <%= link_to "Survey Creators Click Here", users_path %> </p>


